
#board {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .categoryForm {
    margin: 1em, 0;
  }
}

#kanban-categories {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;

  .category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}